[package]
name = "ssscan"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
bindgen = "0.65.1"

[dependencies]
clap = { version = "4.2.7", features = ["derive"] }
scoped_threadpool = "0.1.9"
